body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  overflow-x: hidden;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: 100%;
}

.container {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: #222;
  font-size: 4em;
  margin: 0.2em 0;
}

p {
  font-size: 1.1em;
  margin: 0.5em 0;
  color: #333;
}

.social-links {
  gap: 12px;
  display: flex;
  margin-top: 1.5em;
}

.social-links a {
  color: #333;
  text-decoration: underline;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
